* {
	background-color: rgb(228,219,191);
	font-size: 16px;
}

.container {
	max-width: 60%;
	margin: auto;
}

header, section {
	margin-bottom: 4px;
	border-bottom: 1px solid rgba(192,192,192);
}

section {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.tweet {
	text-align: right;
}

ul {
	list-style: none;
}

footer {
	text-align: center;
}

/* typography */

h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	margin: 0;
	text-align: center;
	color: rgb(72,72,72);
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	color: rgb(72,72,72);
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.14285714286rem;
	margin-top: 4px;
	text-align: center;
	color: rgba(72,72,72,0.8);
}

li {
	font-family: 'Merriweather', serif;
	font-weight: 400; 
	line-height: 1.8em;
}

em {
	font-style: italic; 
	color: rgba(72,72,72,0.8);
}

a {
	text-decoration: none;
	color: rgb(220,91,33);
}

a:hover, a:visited {
	color: rgba(220,91,33,0.7);
}

em > a {
	color: rgba(72,72,72,0.9);
}

em > a:hover, em > a:visited {
	color: rgba(72,72,72,0.6);
}

/* responsive */
@media screen and (max-width: 1150px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	.container {
		max-width: 75%;
	}
}

@media screen and (max-width: 860px) {
	.container {
		max-width: 85%;
	}
}

@media screen and (max-width: 685px) {   
	.container {
		max-width: 95%;
	}
	.tweet {
		text-align: center;
	}
}

@media screen and (max-width: 555px) {
	.container {
		max-width: 98%;
	}
	h1 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 1rem;
	}
}